# =========================
# Private Configuration
# =========================
config.py

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Log Files
# =========================
*.log

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini